ZNET_RELEASE_STORE_FILE=release/znet-release.jks
ZNET_RELEASE_STORE_PASSWORD=change-me
ZNET_RELEASE_KEY_ALIAS=znet
ZNET_RELEASE_KEY_PASSWORD=change-me

# Optional build metadata.
ZNET_VERSION_CODE=1
ZNET_VERSION_NAME=0.1.0

# Optional domain overrides.
ZNET_RELEASE_AUTH_API_URL=https://my-storage.org
ZNET_RELEASE_AUTH_API_URLS=https://my-storage.org
